@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$toDo-color: #EFD67F;
$secondary-color: #5A95B6;
$primary-color: #1E1E1E;

$font-flower: 'Indie Flower', cursive;
$font-inter: 'Inter', sans-serif;